* {
    font-family: Arial, sans-serif;
    background-color: #d7e4fd;
    color: #333333;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #111111;
    }

    #sentence {
        font-size: 1.5rem;
        margin: 20px 0;
        padding: 10px;
        border: 2px solid #b4e69e;
        border-radius: 8px;
        background-color: #e0fdec;
    }

    #streak {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #555555;
    }
    /* Make sure the container allows positioning */
    .container {
        position: relative;
        display: flex;
    }

    .languages-list {
        margin: 40px;
    }
    
    .languages-list p {
        margin: 5px 0;
        padding: 4px 8px;
        border-radius: 6px;
    }
    
    /* Style the image */
    #europe-image {
        width: 33%;
        max-width: 600px;
        height: auto;
        border-radius: 12px;

        /* Position at bottom right */
        position: absolute;
        bottom: 0;
        right: 0;
    }

}