* {
    font-family: Arial, sans-serif;
    background-color: #d7e4fd;
    color: #333333;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #111111;
    }

    #sentence {
        font-size: 1.5rem;
        margin: 20px 0;
        padding: 10px;
        border: 2px solid #b4e69e;
        border-radius: 8px;
        background-color: #e0fdec;
    }

    #streak {
        font-size: 1.2rem;
        margin-top: 10px;
        color: #555555;
    }
}